*{
   margin: 0px;
    font-family: Arial;
     border: border-box;
}
.navbar{
    height: 60px;
    width: 100%;
    background-color: #0f0636;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 25px;
    width: 100px;
    cursor: pointer;
}
.logo{
    background-image: url("apa.PNG");
    background-size: cover;
    height: 31px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border :hover{
    border: 1.5px solid white;
}
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-address1{
    color: #cccccc;
    font-size: 0.9rem;
    margin-left: 20px;
}
.nav-address2{
    font-size: 1rem;
}
.search{
    background-color: rgb(100, 9, 62);
    display: flex;
    width: 700px;
    height: 43px;
    border-radius: .3rem;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
}
.box1{
    width: 45px;
    height: 41px;
    background-color: #eeeaea;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
    align-items: center;
    border: none;
}
.box2{
    width: 100%;
    height: 39px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    font-size: 1rem;
    border: none;
}
.box3{
    width: 45px;
    height: 41px;
    background-color: orange;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    justify-content: center;
    display: flex;
    align-items: center;
}
.lanflag{
    width: 67px;
    height: 23px;
    display: flex;
}
.flag {
    background-image: url("images.png");
    height: 23px;
    width: 27px;
    background-size: cover;
    background-repeat: no-repeat;
}
.language{
width: 39px;  
height: 21px;  
background-color: #000000;
color: white;
    align-items: center;
    font-size: .9rem;
    border: none;
}
.account{
    height: 50px;
    width: 135px;
  
}
.hello{
    font-size: .8rem;
}
.list{
    display: flex;
}
.navbar2{
    height: 39px;
    width: 100%;
    background-color: #325555;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu2 p{
    display: inline;
    margin-left: 23px;
}
.menu2{
    width: 90%;
    font-size: 0.87rem;
}
/**main**/
.main{
    border-top: 20px solid #e3e6e6;
    border-bottom: 20px solid #e3e6e6;
}
.add{
    background-image: url("o.png");
    background-size: cover;
    height: 570px;
    display: flex;
    justify-items: center;
    align-items: flex-end;
     background-position: center;
  background-repeat: no-repeat;
}
.multiplesec{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(224, 218, 218);
}
.container{
    height: 521px;   
    color: rgb(12, 12, 12);
    width: 31.33%;
    margin: 10px;
}
.a{
    margin-top: 9px;
    height: 433px;
        background-size: cover;
     background-position: center;
  background-repeat: no-repeat;
}
.container h2{
    margin-top: 5px;
    text-align: center;
}
.container a{
    font-size: 18px;
    display: block;
    text-align: right;
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
    color: #7b11f5;
}
.container4{
    height: 433px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-sizing: border-box;
}
.multipletop4, .multiplebottom4{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.multiplecollum{
      height: 433px;
    display: flex;
    flex-direction: column;
    gap: 5px
}
.multipleraw{
    height: 433px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.multiple1st, .multiple2nd{
    flex: 1;
}
.b{
       background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container3 {
    height: 433px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.multipletop3 {
    flex: 6; /* 60%*/
}
.multiplebottom3{
    height: 40%;
    display: flex;
    flex-direction: raw;
    gap: 5px;
}
.multiplebottomleft3, .multiplebottomright3{
    width: 50%;
}
/*footer*/
.signgin{
    height: 149px;
    background-color: #b4afaf;
    color: #000;
}
.signgin h2{
    text-align: center;
      font-size: 37px;
    position: relative;
    top: 20px;
}
.signgin button{
    width: 217px;
    height: 37px;
    border-radius: 50px;
    background-color: orange;
    color:rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    border: none;
    display: block;
    margin: 20px auto 0 auto;
}
.back{
    height: 37px;
    background-color: #9c9898;
    display: flex;
    justify-content: center;
   align-items: center;
    color: #000000;
    cursor: pointer;
    font-weight: bolder;
}
.final{
    height: 275px;
    background-color: #646161;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.final p{
    text-decoration: underline;
    cursor: pointer;
    text-align: left;
    margin-top: 15px;
}
